@font-face {
    font-family: 'Gellix';
    src: local('Gellix Regular'), local('Gellix-Regular'),
        url('Gellix-Regular.woff2') format('woff2'),
        url('Gellix-Regular.woff') format('woff'),
        url('Gellix-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }