.n-button {
    background-color: var(--n-color);
}

@media screen and (min-width: 768px) {
    .naive-mobile-or-tablet {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .naive-not-mobile-or-tablet {
        display: none !important;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
    -webkit-text-fill-color: var(--n-text-color);
}

.n-input__textarea-mirror {
    min-height: var(--n-height);
}

.naive-page {
    min-height: 100vh;
    min-height: 100dvh;
}