.n-button:default {
    background-color: var(--n-color) !important;
}

.n-button {
    background-color: var(--n-color);
}

@media screen and (min-width: 768px) {
    .mobileOrTablet {
        display: none !important;
    }
}

@media screen and (max-width: 768px) {
    .notMobileOrTablet {
        display: none !important;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}